<!doctype html>
<html>
<head>
    <base href="/">

    <link rel="stylesheet" href="../../Content/bootstrap.css" />
    <link rel="stylesheet" href="../../Content/Site.css" />
    <link rel="stylesheet" href="../../Content/Dashboard.css" />
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <script src="../../Scripts/angular-ui-router.js"></script>
    <script src="../../Scripts/Angular/clientController.js"></script>
    <script src="../../Scripts/angular-cookies.min.js"></script>
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/Dashboard.js"></script>
</head>
<body ng-app="DashboardTop">

    <div id="throbber" style="display:none; min-height:120px;"></div>
    <div id="noty-holder"></div>
    <div id="wrapper" ng-controller="DashboardController">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Main/ClientIndex/">
                    <img src="http://placehold.it/200x50&text=LOGO" alt="LOGO">
                </a>                
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li>
                    <a href="/Main/ClientIndex" style="color:white" data-placement="bottom"> Hii !! Welcome {{getClientId}} </a>
                </li>
                <li>
                    <a ui-sref="PasswordState" style="color:white" data-placement="bottom"> Change Password </a>
                </li>
                <li class="dropdown">
                    <a href="" ng-click="Logout()" style="color:white" data-placement="bottom"> Logout </a>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a ui-sref="Offers" style="color:white" data-placement="bottom"> Offers </a>
                    </li>
                    <li>
                        <a ui-sref="Beverages" style="color:white" data-placement="bottom"> Beverages </a>
                    </li>
                    <li>
                        <a ui-sref="Snacks" style="color:white" data-placement="bottom"> Snacks </a>
                    </li>
                    <li>
                        <a ui-sref="Drinks" style="color:white" data-placement="bottom"> Drinks </a>
                    </li>
                    <li>
                        <a ui-sref="Cart" style="color:white" data-placement="bottom"> Your Cart </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row" id="main">
                    <div class="col-sm-12 col-md-12 well" id="content">

                        <div ui-view=""></div>                      

                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div><!-- /#wrapper -->

</body>
</html>