<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../../Content/bootstrap.css" />
    <link rel="stylesheet" href="../../Content/Site.css" />
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <script src="../../Scripts/angular-ui-router.js"></script>
    <script src="../../Scripts/Angular/mainController.js"></script>
    <script src="../../Scripts/jquery-1.10.2.js"></script>
</head>
<body ng-app="DashboardTop">

    <h2> UI Route Testing </h2>
    <a ui-sref="HomeState">Home</a>
    <a ui-sref="BlogState">Blog</a>
    <a ui-sref="AboutState">About</a>

    <div ui-view=""></div>

</body>
</html>