<div class="container">
    <h2>Cart</h2>
    <hr />
    <table class="table table-bordered table-condensed">
        <tr>
            <th>CartId</th>
            <th>ClientId</th>
            <th>ProductId</th>
            <th>Delete From Cart</th>
        </tr>
        <tr ng-repeat="eachCartProduct in responsecart">
            <td>{{eachCartProduct.CartId}}</td>
            <td>{{eachCartProduct.ClientId}}</td>
            <td>{{eachCartProduct.ProductId}}</td>
            <td>
                <button value="{{eachCartProduct.CartId}}" ng-model="id"
                        ng-click="DeleteProduct($event)">
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>